{% extends "base.html" %}

<!-- Page Content -->
{% block content %}

    <h1>About the Essentials of Full Stack Software Development Module</h1>
    <hr>
    <p>This module provides an introduction to full stack software development, covering both front-end and back-end technologies.</p>
    <p>It is designed to give you a solid foundation in building web applications using modern languages and frameworks.</p>
    <p>These frameworks include Python Flask for the back-end and Bootstrap for the front-end with HTML and CSS.</p>

{% endblock %}
